@model Fatura.Entity.kullanici
@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.Extensions
@using System.Text;
@using Fatura.Entity;
@using System.Data.Entity;
@using Fatura.BLL; 
@{
    ViewBag.Title = "Kaydet";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
                    <h1>En Ucuz E-Fatura ile daha iyi bir deneyim</h1>
                    <h2>Bootstrap ile yenilikçi websiteler tasarlayan yetenekli bir takımız.</h2>
                    <a href="#about" class="btn-get-started scrollto">Başlarken</a>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="~/Content/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
            <BR>
            <BR>
            <BR>
            <BR>
            <div class="row">
                @if (Session["kullanici"] != null)
                {
                    <h3>Aylık Gelir Gider Tablosu</h3>
                        var barChart = new BarChart();
                        if (Session["kullanici"] != null)
                        {
                            string[] aylar = new[] { "Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık" };
                            long vkn = (long)Session["vkn_tckn"];
                            kullanici user = (kullanici)Session["kullanici"];
                            long vknAdmin = Utilities.vknAdmin;
                            faturaEntities db = new faturaEntities();
                            StringBuilder sb1 = new StringBuilder(); //satış
                            sb1.Append("SELECT vkn_tckn, CONVERT(INT, format(fatura_tarihi, 'MM')) AS gun_ay_yil, SUM(toplam_fiyat) AS tutar");
                            sb1.Append(" FROM fatura WHERE fatura_tipi != 5 AND (fatura_durum = 'Onaylandı' OR fatura_durum = 'İmzalandı') AND YEAR(fatura_tarihi) = YEAR(GETDATE()) AND vkn_tckn = " + vkn);
                            sb1.Append(" GROUP BY vkn_tckn, format(fatura_tarihi, 'MM')");
                            List<Fatura.Entity.fatura_istatistik> satis_fats = db.Database.SqlQuery<Fatura.Entity.fatura_istatistik>(sb1.ToString()).ToList();
                            StringBuilder sb2 = new StringBuilder(); //satınalma
                            sb2.Append("SELECT vkn_tckn, CONVERT(INT, format(fatura_tarihi, 'MM')) AS gun_ay_yil, SUM(toplam_fiyat) AS tutar");
                            sb2.Append(" FROM fatura WHERE fatura_tipi = 5 AND (fatura_durum = 'Onaylandı' OR fatura_durum = 'İmzalandı') AND YEAR(fatura_tarihi) = YEAR(GETDATE()) AND vkn_tckn = " + vkn);
                            sb2.Append(" GROUP BY vkn_tckn, format(fatura_tarihi, 'MM')");
                            List<Fatura.Entity.fatura_istatistik> satinalma_fats = db.Database.SqlQuery<Fatura.Entity.fatura_istatistik>(sb2.ToString()).ToList();
                            List<double> satisAylaraGore = new List<double>();
                            List<double> satinalmaAylaraGore = new List<double>();
                            for (int i = 0; i < 12; i++)
                            {
                                var fatis = satis_fats.Where(x => x.gun_ay_yil == (i + 1)).FirstOrDefault();
                                if (fatis != null)
                                {
                                    satisAylaraGore.Add((double)fatis.tutar);
                                }
                                else
                                {
                                    satisAylaraGore.Add(0);
                                }
                                //foreach (FaturaMVC.ViewModels.fatura_istatistik fatis in satis_fats)
                                //{
                                //    if ((i+1) == fatis.gun_ay_yil)
                                //    {
                                //        satisAylaraGore.Add((decimal)fatis.tutar);
                                //    }
                                //    else
                                //    {
                                //        satisAylaraGore.Add(0);
                                //    }
                                //}
                            }
                            for (int i = 0; i < 12; i++)
                            {
                                var fatis = satinalma_fats.Where(x => x.gun_ay_yil == (i + 1)).FirstOrDefault();
                                if (fatis != null)
                                {
                                    satinalmaAylaraGore.Add((double)fatis.tutar);
                                }
                                else
                                {
                                    satinalmaAylaraGore.Add(0);
                                }
                                //foreach (FaturaMVC.ViewModels.fatura_istatistik fatis in satis_fats)
                                //{
                                //    if ((i+1) == fatis.gun_ay_yil)
                                //    {
                                //        satisAylaraGore.Add((decimal)fatis.tutar);
                                //    }
                                //    else
                                //    {
                                //        satisAylaraGore.Add(0);
                                //    }
                                //}
                            }
                            List<double> sil = satisAylaraGore;
                            barChart.ComplexData.Labels.AddRange(aylar);
                            barChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                                                                                                                                         {
                                new ComplexDataset
                                    {
                                        //Data = new List<double> { 65, 59, 80, 81, 56, 55, 40 },
                                        Data = satisAylaraGore,
                                        Label = "My First dataset",
                                        FillColor = "rgba(220,220,220,0.2)",
                                        StrokeColor = "rgba(220,220,220,1)",
                                        PointColor = "rgba(220,220,220,1)",
                                        PointStrokeColor = "#fff",
                                        PointHighlightFill = "#fff",
                                        PointHighlightStroke = "rgba(220,220,220,1)",
                                    },
                                new ComplexDataset
                                    {
                                        Data = satinalmaAylaraGore,
                                        Label = "My Second dataset",
                                        FillColor = "rgba(151,187,205,0.2)",
                                        StrokeColor = "rgba(151,187,205,1)",
                                        PointColor = "rgba(151,187,205,1)",
                                        PointStrokeColor = "#fff",
                                        PointHighlightFill = "#fff",
                                        PointHighlightStroke = "rgba(151,187,205,1)",
                                    }
                            });
                        }

                    <canvas id="myCanvas" width="600" height="200"></canvas>
                    @Html.CreateChart("myCanvas", barChart);
                }
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                        <img src="~/Content/assets/img/about-img.jpg" class="img-fluid" alt="" data-aos="zoom-in">
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-0">
                        <h3 data-aos="fade-up">Voluptatem dignissimos provident quasi</h3>
                        <p data-aos="fade-up" data-aos-delay="100">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                        <div class="row">
                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-receipt"></i>
                                <h4>Corporis voluptates sit</h4>
                                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                            </div>
                            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Ullamco laboris nisi</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Servisler Section ======= -->
        <section id="Servisler" class="Servisler section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Servisler</h2>
                    <p>Teklif ettiğimiz harika servislere göz atın!</p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4 class="title"><a href="">Nemo Enim</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Servisler Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Portföy</h2>
                    <p>Portföyümüze bir göz atın</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Tümü</li>
                            <li data-filter=".filter-uygulama">Uygulama</li>
                            <li data-filter=".filter-kart">Kart</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-uygulama">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="Uygulama 1"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Uygulama 1</h4>
                                <p>Uygulama</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Web 3</h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-uygulama">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="Uygulama 2"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Uygulama 2</h4>
                                <p>Uygulama</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-kart">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Kart 2"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Kart 2</h4>
                                <p>Kart</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Web 2</h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-uygulama">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="Uygulama 3"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Uygulama 3</h4>
                                <p>Uygulama</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-kart">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Kart 1"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Kart 1</h4>
                                <p>Kart</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-kart">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Kart 3"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Kart 3</h4>
                                <p>Kart</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/Content/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="~/Content/assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-plus-circle"></i></a>
                                <a href="#" title="More Details"><i class="icofont-link"></i></a>
                            </div>
                            <div class="portfolio-info">
                                <h4>Web 3</h4>
                                <p>Web</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= S.S.S Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>S.S.S</h2>
                    <p>Sıkça Sorulan Sorular</p>
                </div>

                <ul class="faq-list">

                    <li data-aos="fade-up" data-aos-delay="100">
                        <a data-toggle="collapse" class="" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="icofont-simple-up"></i></a>
                        <div id="faq1" class="collapse show" data-parent=".faq-list">
                            <p>
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>
                        <div id="faq2" class="collapse" data-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
                        <div id="faq3" class="collapse" data-parent=".faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="icofont-simple-up"></i></a>
                        <div id="faq4" class="collapse" data-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>
                        <div id="faq5" class="collapse" data-parent=".faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="600">
                        <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
                        <div id="faq6" class="collapse" data-parent=".faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>
        </section><!-- End S.S.S Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Takım</h2>
                    <p>Takımımız yardıma her zaman hazır</p>
                </div>

                <div class="row">

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="member">
                            <img src="~/Content/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Murtaza</h4>
                                    <span>Chief Executive Officer</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="member">
                            <img src="~/Content/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Ayşe</h4>
                                    <span>Product Manager</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="member">
                            <img src="~/Content/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Haluk</h4>
                                    <span>CTO</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="member">
                            <img src="~/Content/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Amanda aman</h4>
                                    <span>Accountant</span>
                                </div>
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Müşterilerimiz</h2>
                    <p>Bize güvenenler...</p>
                </div>

                <div class="owl-carousel clients-carousel" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/Content/assets/img/clients/client-1.png" alt="">
                    <img src="~/Content/assets/img/clients/client-2.png" alt="">
                    <img src="~/Content/assets/img/clients/client-3.png" alt="">
                    <img src="~/Content/assets/img/clients/client-4.png" alt="">
                    <img src="~/Content/assets/img/clients/client-5.png" alt="">
                    <img src="~/Content/assets/img/clients/client-6.png" alt="">
                    <img src="~/Content/assets/img/clients/client-7.png" alt="">
                    <img src="~/Content/assets/img/clients/client-8.png" alt="">
                </div>

            </div>
        </section><!-- End Clients Section -->
        <!-- ======= Contact Us Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Bize Ulaşın</h2>
                    <p>Bizimle çalışmak için bize ulaşın</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Konum:</h4>
                                <p>Ankara</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Telefon:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">İsminiz</label>
                                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="En az 4 karakter içermelidir" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">E-mail adresiniz</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Geçerli bir e-mail adresi girin" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Konu</label>
                                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="En az 8 karakterli bir konu girin" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Mesaj</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Bize gönderecek bir şeyler yazın"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Yükleniyor</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Mesajınız Gönderilmiştir. Teşekkürler!</div>
                            </div>
                            <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Us Section -->

    </main><!-- End #main -->
</body>


