<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>  
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <appSettings>
    <add key="isCloud" value="0" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <roleManager enabled="true" defaultProvider="testRoleProvider">
      <providers>
        <add name="testRoleProvider" type="Fatura.UI.Filters.FaturaRoleProvider" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="/Security/Login"></forms>
    </authentication>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/Error/Notfound" />
    </customErrors>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<connectionStrings>
    <add name="faturaEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=fatura;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="localhost" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=fatura;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bizimsirket" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB6666666666;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="abc" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB4444444444;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="faturaDataSet" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=fatura;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="faturaEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=fatura;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegration" maxReceivedMessageSize="104857600">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IDespatchIntegration" maxReceivedMessageSize="104857600">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IProducerReceiptIntegration" maxReceivedMessageSize="104857600">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IVoucherIntegration" maxReceivedMessageSize="104857600">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IAppConnectService" maxReceivedMessageSize="104857600" />
        <binding name="BasicHttpBinding_IIntegrationService" maxReceivedMessageSize="104857600" />
        <binding name="CategoryServicePortSoap11" maxReceivedMessageSize="104857600">
          <security mode="Transport" />
        </binding>
        <binding name="CategoryServicePortSoap111" maxReceivedMessageSize="104857600" />
        <binding name="OrderServicePortSoap11" maxReceivedMessageSize="104857600">
          <security mode="Transport" />
        </binding>
        <binding name="OrderServicePortSoap111" maxReceivedMessageSize="104857600" />
        <binding name="ProductServicePortSoap11" maxReceivedMessageSize="104857600">
          <security mode="Transport" />
        </binding>
        <binding name="ProductServicePortSoap111" maxReceivedMessageSize="104857600" />
        <binding name="ProductStockServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductStockServicePortSoap111" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_ITransferDocumentService">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/Integration" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration" contract="UyumsoftIntegration.IIntegration" name="BasicHttpBinding_IIntegration" />
      <endpoint address="https://efatura.uyumsoft.com.tr/Services/DespatchIntegration" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDespatchIntegration" contract="UyumsoftDespatch.IDespatchIntegration" name="BasicHttpBinding_IDespatchIntegration" />
      <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/ProducerReceiptIntegration" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProducerReceiptIntegration" contract="UyumsoftProducerReceipt.IProducerReceiptIntegration" name="BasicHttpBinding_IProducerReceiptIntegration" />
      <endpoint address="https://efatura-test.uyumsoft.com.tr/Services/VoucherIntegration" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVoucherIntegration" contract="UyumsoftVoucher.IVoucherIntegration" name="BasicHttpBinding_IVoucherIntegration" />
      <endpoint address="http://earsivtransfertest.veriban.com.tr/AppConnectService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppConnectService" contract="VeribanAppConnect.IAppConnectService" name="BasicHttpBinding_IAppConnectService" />
      <endpoint address="http://earsivtransfertest.veriban.com.tr/IntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService" contract="VeribanIntegration.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
      <endpoint address="http://transfertest.veriban.com.tr/TransferDocumentService.svc" binding="customBinding" bindingConfiguration="CustomBinding_ITransferDocumentService" contract="VeribanTransferDocument.ITransferDocumentService" name="CustomBinding_ITransferDocumentService" />
      <endpoint address="https://api.n11.com/ws/categoryService/" binding="basicHttpBinding" bindingConfiguration="CategoryServicePortSoap11" contract="N11CategoryService.CategoryServicePort" name="CategoryServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/orderService/" binding="basicHttpBinding" bindingConfiguration="OrderServicePortSoap11" contract="N11OrderService.OrderServicePort" name="OrderServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productService/" binding="basicHttpBinding" bindingConfiguration="ProductServicePortSoap11" contract="N11ProductService.ProductServicePort" name="ProductServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productStockService/" binding="basicHttpBinding" bindingConfiguration="ProductStockServicePortSoap11" contract="N11ProductStockService.ProductStockServicePort" name="ProductStockServicePortSoap11" />
    </client>
  </system.serviceModel>
</configuration>
